<p>resetpassword works!</p>
<section class="mb-5 text-center">

  <form action="#!">

    <div class="md-form md-outline">
      <input type="password" id="newPass" class="form-control">
      <label data-error="wrong" data-success="right" for="newPass">Current Password</label>
    </div>

    <div class="md-form md-outline">
      <input type="password" id="newPass" class="form-control">
      <label data-error="wrong" data-success="right" for="newPass">New Password</label>
    </div>

    <div class="md-form md-outline">
      <input type="password" id="newPassConfirm" class="form-control">
      <label data-error="wrong" data-success="right" for="newPassConfirm">Confirm New Password</label>
    </div>

    <button type="submit" class="btn btn-primary mb-4">Update</button>
    <button class="btn btn-outline-danger">Cancel</button>

  </form>

  <div class="d-flex justify-content-between align-items-center mb-2">

    <u><button type="button" class="btn btn-warning" (click)="goBack()">Go Back</button></u>

  </div>

</section>
