<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <button class="nav_title_button" [routerLink]="['/']">SPMS</button>
        <button *ngIf="router.url != '/login'" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ">
                <li class="nav-item" *ngIf="this.router.url != '/serviceproviderlist' && this.router.url != '/login'">
                    <button class="nav_item_button" [routerLink]="['/serviceproviderlist']" routerLinkActive="active">SP List</button>
                </li>
                <li class="nav-item" *ngIf="this.router.url === '/serviceproviderlist'">
                    <button class="nav_item_button" [routerLink]="['/addserviceprovider']" routerLinkActive="active">Add SP</button>
                </li>
                <li class="nav-item" *ngIf="router.url != '/login'">
                    <button class="nav_item_button" (click)="OnLogout()" routerLinkActive="active">Logout</button>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- placeholder for all routes -->
<div class="container h-100">
    <router-outlet></router-outlet>
</div>