<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
<div class="container-fluid">
    <span class="navbar-brand mb-0 h1">SPMS</span>
    <button *ngIf="router.url != '/login'" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item" *ngIf="router.url != '/login'">
                <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/login" routerLinkActive="active">SP List</a>
            </li>
        </ul>
    </div>
</div>
</nav>
<!-- placeholder for all routes -->
<div class="container">
    <router-outlet></router-outlet>
</div>