<p>editcontract works!</p>
<div class="container-fluid">
  <br>
    <h2>Edit Contact</h2>
    <div >
    <form *ngIf="editcontactForm" [formGroup]="editcontactForm" (ngSubmit)="update(contact.contactid, contact)" novalidate>
      <div class="form-group">
        <label>ContactID</label>
        <input type="text" [class.is-invalid]="$any(contactid).invalid && $any(contactid).touched" 
        formControlName="contactid" class="form-control">
            <div *ngIf="$any(contactid).errors && $any(contactid).touched">
               <div class="alert alert-danger" *ngIf="$any(contactid).errors?.required">ID is required</div>
              <div class="alert alert-danger" *ngIf="$any(contactid).errors?.minlength">ID must be a number</div>
            </div>
      </div>
      <div class="form-group">
        <label>TitleID</label>
        <input type="text" [class.is-invalid]="$any(titleid).invalid && $any(titleid).touched" 
        formControlName="titleid" class="form-control">
            <div *ngIf="$any(titleid).errors && $any(titleid).touched">
               <div class="alert alert-danger" *ngIf="$any(titleid).errors?.required">TitleID is required</div>
              <div class="alert alert-danger" *ngIf="$any(titleid).errors?.minlength">TitleID must be at least 2 numbers</div>
            </div>
      </div>
      <div class="form-group">
          <label>First Name</label>
          <input type="text" [class.is-invalid]="$any(first_name).invalid && $any(first_name).touched" 
          formControlName="first_name" class="form-control">
              <div *ngIf="$any(first_name).errors && $any(first_name).touched">
                <div class="alert alert-danger" *ngIf="$any(first_name).errors?.required">First Name is required</div>
                <div class="alert alert-danger" *ngIf="$any(first_name).errors?.minlength">First Name must be at least 1 characters</div>
              </div>
      </div>

      <div class="form-group">
        <label>Last Name</label>
        <input type="text" [class.is-invalid]="$any(last_name).invalid && $any(last_name).touched" 
        formControlName="last_name" class="form-control">
            <div *ngIf="$any(last_name).errors && $any(last_name).touched">
              <div class="alert alert-danger" *ngIf="$any(last_name).errors?.required">Last Name is required</div>
              <div class="alert alert-danger" *ngIf="$any(last_name).errors?.minlength">Last Name must be at least 1 characters</div>
            </div>
    </div>

    <div class="form-group">
      <label>mobile_number</label>
      <input type="text" [class.is-invalid]="$any(mobile_number).invalid && $any(mobile_number).touched" 
      formControlName="mobile_number" class="form-control">
          <div *ngIf="$any(mobile_number).errors && $any(mobile_number).touched">
            <div class="alert alert-danger" *ngIf="$any(mobile_number).errors?.required">Mobile number is required</div>
            <div class="alert alert-danger" *ngIf="$any(mobile_number).errors?.minlength">Mobile number must be numbers</div>
          </div>
    </div>

    <div class="form-group">
      <label>office_phone</label>
      <input type="text" [class.is-invalid]="$any(office_phone).invalid && $any(office_phone).touched" 
      formControlName="office_phone" class="form-control">
          <div *ngIf="$any(office_phone).errors && $any(office_phone).touched">
            <div class="alert alert-danger" *ngIf="$any(office_phone).errors?.required">Office phone is required</div>
            <div class="alert alert-danger" *ngIf="$any(office_phone).errors?.minlength">Office phone must be numbers</div>
          </div>
    </div>

    <div class="form-group">
      <label>fax</label>
      <input type="text" [class.is-invalid]="$any(fax).invalid && $any(fax).touched" 
      formControlName="office_phone" class="form-control">
          <div *ngIf="$any(fax).errors && $any(fax).touched">
            <div class="alert alert-danger" *ngIf="$any(fax).errors?.required">Fax is required</div>
            <div class="alert alert-danger" *ngIf="$any(fax).errors?.minlength">Fax must be numbers</div>
          </div>
    </div>

    <div class="form-group">
      <label>toll_free</label>
      <input type="text" [class.is-invalid]="$any(toll_free).invalid && $any(toll_free).touched" 
      formControlName="toll_free" class="form-control">
          <div *ngIf="$any(toll_free).errors && $any(toll_free).touched">
            <div class="alert alert-danger" *ngIf="$any(toll_free).errors?.required">Toll_free is required</div>
            <div class="alert alert-danger" *ngIf="$any(toll_free).errors?.minlength">Toll_free must be numbers</div>
          </div>
    </div>

    <div class="form-group">
      <label>email</label>
      <input type="text" [class.is-invalid]="$any(email).invalid && $any(email).touched" 
      formControlName="email" class="form-control">
          <div *ngIf="$any(email).errors && $any(email).touched">
            <div class="alert alert-danger" *ngIf="$any(email).errors?.required">email is required</div>
            <div class="alert alert-danger" *ngIf="$any(email).errors?.minlength">email must has @</div>
          </div>
    </div>


    <div class="form-group">
      <label>providerid</label>
      <input type="text" [class.is-invalid]="$any(providerid).invalid && $any(providerid).touched" 
      formControlName="providerid" class="form-control">
          <div *ngIf="$any(providerid).errors && $any(providerid).touched">
             <div class="alert alert-danger" *ngIf="$any(providerid).errors?.required">providerid is required</div>
            <div class="alert alert-danger" *ngIf="$any(firstName).errors?.minlength">providerid must be numbers</div>
          </div>
    </div>

    <button class="btn btn-primary" [disabled]="editcontactForm.invalid" type="submit">Update form</button>
    </form>
  </div>
    <div class="alert alert-danger" *ngIf="errorMsg">
      {{errorMsg}}
    </div>
  </div>