<div class="container-fluid">
<form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">
  <div class="container" name="loginForm">

    <label for="uname" class="floatleft"><b>Login ID</b></label>

    <input type="text" placeholder="Enter ID" [class.is-invalid]="id.invalid && id.touched" formControlName="id" class="form-control">
    <div *ngIf="id.touched">
      <div class="alert alert-danger" *ngIf="id.errors?.required">id is required</div>
      <div class="alert alert-danger" *ngIf="id.errors?.minlength">id must be at least 3 characters</div>
    </div>

    <label for="psw" class="floatleft"><b>Password</b></label>

    <input type="password" placeholder="Enter Password" [class.is-invalid]="password.invalid && password.touched" formControlName="password" class="form-control">
    <div *ngIf="password.touched">
      <div class="alert alert-danger" *ngIf="password.errors?.required">password is required</div>
      <div class="alert alert-danger" *ngIf="password.errors?.minlength">password must be at least 3 characters</div>
    </div>

    <button type="submit" class="btn btn-primary" ng-disabled="loginForm.$invalid" (click)="navigateToHome()" [disabled]="!loginForm.valid">Login</button>
  

    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember my ID
    </label>
  </div>

  <div class="container">
    <button type="button" class="btn btn-primary"(click)="navigateToForgotPassword()">Forgot Password?</button>
  </div>
</form>
</div>