<div class="row h-100 justify-content-center align-items-center">
<div class="col-10 col-md-8 col-lg-6">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)" method="GET" class="loginForm">
      <label for="userid"><b>Login ID</b></label>
      <input type="text" placeholder="Enter login" [class.is-invalid]="id.invalid && id.touched" formControlName="userid" class="form-control">
      <div *ngIf="id.touched">
        <div class="alert alert-danger" *ngIf="id.errors?.required">id is required</div>
        <div class="alert alert-danger" *ngIf="id.errors?.minlength">id must be at least 3 characters</div>
      </div>
        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" [class.is-invalid]="password.invalid && password.touched" formControlName="password" class="form-control">
      
      <div *ngIf="password.touched">
        <div class="alert alert-danger" *ngIf="password.errors?.required">password is required</div>
        <div class="alert alert-danger" *ngIf="password.errors?.minlength">password must be at least 3 characters</div>
      </div>
      <div class="row">
        <div class="col-6">
        <button type="submit" class="btn btn-primary btn-sm">Login</button>
        </div>
        <div class="col-6">
        <button type="button" class="btn btn-primary btn-sm"(click)="navigateToForgotPassword()">Forgot Password?</button>
        </div>
      </div>
        <label>
          <input type="checkbox" checked="checked" name="remember"> Remember my ID
        </label>
  </form>

</div>
</div>
<!-- </div>
</div> -->