body {font-family: Arial, Helvetica, sans-serif;}



/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.container {
  padding: 16px;
}
.floatleft {
  float: left;
}



.container-fluid {
  padding-left: 200px;
  text-align: center;
  display: table-cell;
  vertical-align: middle
}