/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 5px 1px;
  margin: 5px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.loginForm{
  margin: 0 20%;
  align-self: center;
}
@media screen and (max-width:500px ) {
  .loginForm{
    margin: 0 5%;
    align-self: center;
  }
}

